<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script type="text/javascript">
$(function(){
$('#slick01').slick({
autoplay: true, //自動再生
dots: true, //ドットインジケータの表示
autoplaySpeed: 7000 //自動再生の速度
});
});
</script>

<div class="container">
  <div class = "row">
    <div class = "col-md-12">
      <h1>このサイトについて</h1><BR>
        <div id="slick01">
          <div>
            <h4>テスト結果や、日頃の勉強内容の情報を登録していくと、自分だけの勉強管理ページが作成できるようになっています。</h4>
            <%= image_tag "生徒マイページ.png", alt:"生徒マイページ",size:"1000x600"%>
          </div>
          <div>
            <h4>テスト範囲を登録すると、マイページに最新のものが表示されます。日付はカレンダーから入力できます。</h4>
            <%= image_tag "テスト範囲登録.png", alt:"テスト範囲登録",size:"1000x600"%>
          </div>
          <div>
            <h4>毎日の勉強内容は大体でもいいので勉強時間や解いた問題数を登録しましょう。マイページに合計されたものが表示されます。</h4>
            <%= image_tag "勉強内容登録.png", alt:"勉強内容登録",size:"1000x600"%>
          </div>
          <div>
            <h4>マイページの検索フォームから友達を検索し、フォローをしたり、勉強内容を見ることができます。</h4>
            <%= image_tag "生徒検索結果.png", alt:"生徒検索結果",size:"1200x600"%>
          </div>
          <div>
            <h4>検索されてもテスト結果は友達には公開されませんので安心してください。</h4>
            <%= image_tag "生徒検索詳細ページ.png", alt:"生徒検索詳細ページ",size:"1000x600"%>
          </div>
          <div>
            <h4>保護者の方はまずお子様を検索し、フォローリクエストを行なってください。</h4>
            <%= image_tag "保護者フォロー前.png", alt:"保護者フォロー前",size:"1200x600"%>
          </div>
          <div>
            <h4>検索結果からフォローリクエストを送ることが可能です。</h4>
            <%= image_tag "保護者側検索画面.png", alt:"アイキャッチ画像01",size:"1200x500"%>
          </div>
          <div>
            <h4>リクエストが承認されると、自分のページからお子様の勉強内容の最新のものが表示されます。</h4>
            <%= image_tag "保護者フォロー後.png", alt:"保護者フォロー後",size:"1000x500"%>
          </div>
          <div>
            <h4>お子様のページではテスト結果や内申点などの詳細を確認することができます。</h4>
            <%= image_tag "保護者側生徒詳細フォロー後.png", alt:"保護者側生徒詳細フォロー後",size:"1000x600"%>
          </div>
        </div>
    </div>
  </div>
</div>
